.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background-default);

  .container {
    display: flex;
    align-items: center;
    width: 960px;
    height: 560px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-color: var(--color-background-paper);

    .login {
      width: 50%;
      padding-left: 60px;
      padding-right: 60px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .top {
        display: flex;
        flex-direction: column;

        .loginText {
          font-weight: 700;
          font-size: 25.63px;
          text-align: center;
          margin-bottom: 32px;
          margin-top: 102px;
          color: var(--color-text-primary);
        }
        .nameInput {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.15px;
        }
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 102px;
      }
    }

    .clouds {
      min-width: 50%;
      max-width: 50%;
      background-color: var(--color-neutral-200);
      height: 100%;
      overflow: hidden;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      position: relative;

      .topCloud {
        position: absolute;
        top: 45px;
        right: 56px;
        filter: drop-shadow(-13px 51px 25px rgba(18, 6, 67, 0.45));
      }

      .midCloud {
        position: absolute;
        left: 25px;
        top: 162px;
        filter: drop-shadow(-13px 51px 25px rgba(18, 6, 67, 0.45));
      }

      .bottomCloud {
        position: absolute;
        bottom: 60px;
        right: 45px;
        filter: drop-shadow(-13px 51px 25px rgba(18, 6, 67, 0.45));
      }

      .cloud {
        max-width: 198px;
        width: 100%;
        height: auto;
      }
    }
  }
}
